
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #ed1c23;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    background-color: yellow;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

h1 {
    color: yellow;
    font-size: 250%;
}

nav.navbar {
    background-color: #a70207;
    height: 60px;
    padding-top: 10px;
    border-style: double;
    border-color: whitesmoke;
    border-top: none;
    border-left: none;
    border-right: none;
}

a.Catalogo,
a.Pintura,
a.Electricas,
a.Herramientas_Manuales,
a.Accesorios {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: solid yellow;
}

a:hover {
    color: yellow;
}

.lista {
    width: 100%;
    text-align:center;
    padding-right: 20px;
}

button.btn-login {
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 50px;
    border-style: none;
    margin-left:  60px;
}

a.btn-login:hover {
    color: red;
}

a.btn-login {
    color: black;
    font-size: 20px;
    font-style: none;
    text-decoration: none;
}

button.btn-login:hover {
    background-color: yellow;
}

.contenedor-elementos {
    background-color: #ed1c23;
    width: 100%;
    min-height: 600px;
    display: flex;
}

.menu-cliente {
    background-color: transparent;
    min-width: 320px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 25px; 
}

.seccion-compras {
    background-color: #f1f0f0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#select-menu-cliente {
    background-color:transparent;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 15px;
    border: none;
    outline: none;
    margin: 0px 20px;
}

#select-menu-cliente option {
    background-color: #ed1c23;
    border: none;
    outline: none;
}

/*Tabla*/
.tabla {
    width: 95%;
    display: grid;
    overflow: auto; 
    padding-bottom: 0px;
    margin: 30px 0;
}

table {
    border:solid rgb(5, 138, 5) 2px;
    border-collapse: collapse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    box-shadow: 5px 5px 10px rgba(4, 115, 25, 0.5);
    margin-bottom: 100px;
    max-height: 600px;
}

.celda-principal {
    background-color: rgb(5, 138, 5);
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 5px;
    border-bottom: solid #333 1px;
    color: #eae7e7;
}

tr {
    padding-right: 2px;
    padding-bottom: 2px;
    color:rgb(4, 66, 4);
    padding-left: 2px;
    max-height: 12px;
}

h3 {
    color: #ffffff;
    font-size:20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    color: #0d5e18;
}

tr:nth-child(even) {
    background-color:rgb(208, 243, 208);
}

tr:hover td {
    background-color: rgb(158, 219, 158);
}
  
  #foto {
    background-color: rgb(161, 166, 172);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    max-width: 130px;
    min-width: 80px;
    min-height: 80px;
    border-style: groove;
    border-color: solid whitesmoke;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
  }
.foto-perfil{
    width: 150px;
    height: 150px;
}