/* Estilo general para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-left: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute; 
    top: 35%; 
    left: 35%; 
    transform: scale(1.3);
}

h2 {
    color: #5681ed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo para los párrafos de información del usuario */
p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el estado del usuario */
#estado {
    font-weight: bold;
    color: #28a745; 
}

form {
    margin-top: 20px;
    text-align: center;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

/* Estilos para los inputs */
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para el botón al pasar el mouse por encima */
button[type="submit"]:hover {
    background-color: #45a049;
}
