/* Estilo general para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-left: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute; 
    top: 35%; 
    left: 35%; 
    transform: scale(1.3);
}
.container-perfil{
    background-color:#f2f2f2;
}

h2 {
    color: #5681ed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo para los párrafos de información del usuario */
p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el estado del usuario */
#estado {
    font-weight: bold;
    color: #28a745; 
}
