/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 200px;
    margin-top: 20px;

}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size:small;
}
.enlaces ul {
    list-style: none;
    display: flex;
}

.enlaces ul li {
    margin-right: 10px;
    padding-left: 20px;
}

.enlaces ul li a {
    color: #fff;
    text-decoration: none;
}

.enlaces ul li a:hover{
    color: yellow;
}
.sociales{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociales-link a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding-left: 20px;
}

.sociales-link a:hover {
    color:yellow;
}
